* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 2.2em;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  margin: 1em 0em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/brian-j-tromp-Y50rsCtcS_8-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/* Styling the list container (#top-list) */
#top-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1em;
  max-width: 800px;
}

/* Styling each game card */
.card {
  display: flex;
  background-color: hsla(0, 0%, 100%, 80%);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  align-items: center;
}

/* Styling of the game image */
.game-image {
  width: 250px;
  box-shadow: darkblue 0px 10px 20px -10px;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}

.game-image:hover {
  transform: scale(1.1);
}
/* Title if the game */
.card h2 {
  font-size: 1.5rem;
  color: rgb(1, 94, 3);
}

/* Year and Developer of the card */
.card h4 {
  font-size: 1.1rem;
  color: rgb(196, 7, 1);
}

/* Categories and platforms */
.card h5 {
  font-size: 1rem;
  color: black;
}

/* Description of the card */
.card p {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

@media only screen and (max-width: 555px) {
  .card {
    flex-direction: column;
  }
  .game-image {
    width: 100px;
  }
}
.italics {
  font-style: italic;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
